@{
    Layout = "_Layout";
}

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <img src="~/images/hanabi.png" alt="花火" class="homepage-banner img-fluid" />
    <h1 class="display-4">歡迎開始使用日文學習系統</h1>
    
</div>
