@model JapaneseLearnSystem.Models.SubscriptionPlan

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>SubscriptionPlan</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="PlanID" />
            <div class="form-group">
                <label asp-for="PlanName" class="control-label"></label>
                <input asp-for="PlanName" class="form-control" />
                <span asp-validation-for="PlanName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FeeInfo" class="control-label"></label>
                <input asp-for="FeeInfo" class="form-control" />
                <span asp-validation-for="FeeInfo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DailyQuestionLimit" class="control-label"></label>
                <input asp-for="DailyQuestionLimit" class="form-control" />
                <span asp-validation-for="DailyQuestionLimit" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LearnedWordLimit" class="control-label"></label>
                <input asp-for="LearnedWordLimit" class="form-control" />
                <span asp-validation-for="LearnedWordLimit" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NoteLimit" class="control-label"></label>
                <input asp-for="NoteLimit" class="form-control" />
                <span asp-validation-for="NoteLimit" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
