html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.text-red {
    color: red;
}

.homepage-banner {
    width: 80%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 20px;
}
.truncate {
    word-wrap: break-word; /* 允許長文字換行 */
    word-break: break-word; /* 確保超長單詞也換行 */
    max-width: 200px; /* 可依需求調整欄位寬度 */
}


